@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

 body {
     background: url("../img/background.png") no-repeat;
     background-size: 100%;
     font-family: Ubuntu;
     color: white;
}

.main-header {
    width: 100%;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
}

.main-header-title {
    margin: 18px 704px 18px 79px;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: bold;
}
.main-header-title:hover {
    color: #01813F;
    transition: 2s;
}
.main-header-item svg {
    margin-top: 18px;
}
.svg-item {
    fill: white;
    margin-left: 27px;
}
.svg-item:hover {
     stroke: #01813F;
     fill: #01813F;
     transition: 2s;
}
.main-header-item-entry {
    margin: 18px 79px 18px 25px;
}

.main-header-item-entry p {
    font-size: 14px;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
}
.main-header-item-entry p span:hover {
    color: #01813F;
    transition: 2s;
}


.feedback-form-wrapper {
    margin: 54px 461px 74px 461px;
    width: 444px;
    height: 584px;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    align-items: center;
}
.shape {
    margin-bottom: -29px;
}
.button-facebook-item:hover {
    background-color: #022263;
    transition: 2s;
}
.nav-items {
    margin: 0 auto;
    align-items: center;
}
.nav-items li {
    display: inline;
    justify-content: center;
}

.sing-up  {
    font-size: 20px;
    color: #434343;
}
.log-in {
    font-size: 14px;
    color: #3CB878;
}
.log-in:hover {
    text-decoration: underline;
}




.button-facebook-item {
    font-size: 16px;
    color: #FFFFFF;
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    border: 0;
    border-radius: 4px;
    margin: 32px 16px 31px 60px;
}

.entry {
    margin-left: 37px;
}
.button-google-item {
    font-size: 16px;
    color: #FFFFFF;
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    border: 0;
    margin-bottom: 31px;
    border-radius: 4px;
}
.button-google-item:hover {
    background-color: #AB1F09;
    transition: 2s;
}
.feedback-form {
    text-align: center;
}
.feedback-form-input {
    width: 324px;
    height: 46px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 0.2px solid;
    color: #BEBEBE;
    padding-left: 20px;
}
.feedback-form-input:focus {
    width: 335px;
    background-color: #FFFFFF;
    color: #434343;
}
.section-separator {
    margin-bottom: 16px;
    width: 100px;
    height: 1px;
}
.separator {
    color: #848484;
}

.check {
    margin-bottom: 20px;
}

.custom-checkbox{
    width: 20px;
    height: 20px;
    color: black;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}


.custom-checkbox span {
    color: #3CB878;
}
.custom-checkbox span:hover {
    color: #01813F;
    text-decoration: underline;
}

.create-account {
    font-size: 16px;
    color: #FFFFFF;
    width: 324px;
    height: 46px;
    background-color: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
    margin-bottom: 38px;
}
.create-account:hover {
    background-color: #01813F;
    transition: 2s;
}
